extends layout

block content
  h1= title
  h2 Express webpack gulp ES6 browser-sync
  p Welcome to #{title}
  .app
  script(src="/js/vendors.js")
  script(src="/js/common.js")
  script(src="/js/index.js")


